body{
    font-family:"Courier New",'Courier New', Courier, monospace;
    text-align: center;
}

#board {
   /* background-color: skyblue;*/
   background-image: url("/Users/perlydahan/Desktop/coding projects /flappybird/image/flappybirdbg.png");


}